<%= turbo_frame_tag "task_#{form.index}" do %>
  <%= form.hidden_field :id %>
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>
  <h4>Patches</h4>
  <div id="patches">
    <%= form.fields_for :patches do |patches_form| %>
      <%= render "patches/form", form: patches_form %>
    <% end %>
  </div>

  <%= form.submit "Add Patch", 
    formaction: patch_path(@project.patches), 
    formmethod: :post, 
    formnovalidate: true, 
    id: "add-patch" %>
    
  <%= form.submit "destroy task", 
          formaction: task_path(form.index, form.object.id), 
          formmethod: :delete, 
          formnovalidate: true, 
          data: { turbo_frame: "task_#{form.index}" } %>
<% end %>