  <%= form.hidden_field :id %>
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>
  <h4>Patches</h4>
  <div id="patches">
    <%= form.fields_for :patches do |patches_form| %>
      <%= render "patches/form", form: patches_form %>
    <% end %>
  </div>